.logo {
	height: 40px;
}

.home {
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Import Rubik Distressed - Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Rubik+Distressed&display=swap');

/* TODO : to adapt to other browsers */

:root {
	--clr-color: rgb(100, 176, 169);
}

body {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* min-height: 100vh; */
	background: #eee;
}

.drop-container {
	display: flex;
}

.drop {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	font-size: 1.5em;
	color: var(--clr-color);
	text-shadow: -2px -2px 5px #fff;
	filter: drop-shadow(4px 4px 10px #fff);
	box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
		15px 25px 10px rgba(0, 0, 0, 0.05), 15px 20px 20px rgba(0, 0, 0, 0.07),
		inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}

.drop::before {
	content: '';
	position: absolute;
	top: 35px;
	left: 25px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	filter: blur(2px);
}

.drop::after {
	content: '';
	position: absolute;
	top: 25px;
	left: 50px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	filter: blur(2px);
}
