{% extends "components/layout.html" %}{% block content %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" />

		<div id="map-container"></div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-polyline-decorator/1.0.12/leaflet.polylineDecorator.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.3.4/leaflet-routing-machine.js"></script>
		<script src="static/js/map.js"></script>


{% endblock %}
