{% extends "components/layout.html" %} {% block content %}
<link rel="stylesheet" href="/static/css/homepage.css" />
<div class="homepage">
	<img
		src="{{url_for('static', filename='assets/logo.png')}}"
		alt="Logo"
		class="home-logo"
	/>
	<div class="bubbles drop-container">
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
		<div class="bubble drop"></div>
	</div>

	<div class="home-buttons drop-container">
		<div class="drop drop-button">Locate</div>
		<div class="drop drop-button">Map</div>
		<div class="drop drop-button">Dashboard</div>
	</div>
</div>

{% endblock %}
