{% extends "components/layout.html" %} {% block content %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" /> -->
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/analyse.css') }}"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script
	src="{{url_for('static', filename='js/lookup.js')}}"
	defer
></script>
<script>
	$(window)
		.on('load resize ', function () {
			var scrollWidth =
				$('.tbl-content').width() - $('.tbl-content table').width();
			$('.tbl-header').css({ 'padding-right': scrollWidth });
		})
		.resize();
</script>

<section data-id="{{ id }}">
	<h1>Details of "{{ id }}"</h1>
	<div class="tbl-header">
		
		<table cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr>
					<th>ID</th>
					<th>Departure Place</th>
					<th>Destination Place</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Period</th>
					<th>Port</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="tbl-content">
		<table cellpadding="0" cellspacing="0" border="0">
			<tbody id="table">

			</tbody>
		</table>
	</div>
	<canvas id="BarChart" style="width:50%;max-width:500px"></canvas>
</section>

<!--Waves Container-->
<!-- <div>
	<svg
		class="waves"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28"
		preserveAspectRatio="none"
		shape-rendering="auto"
	>
		<defs>
			<path
				id="gentle-wave"
				d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
			/>
		</defs>
		<g class="parallax">
			<use
				xlink:href="#gentle-wave"
				x="48"
				y="0"
				fill="rgba(255,255,255,0.7"
			/>
			<use
				xlink:href="#gentle-wave"
				x="48"
				y="3"
				fill="rgba(255,255,255,0.5)"
			/>
			<use
				xlink:href="#gentle-wave"
				x="48"
				y="5"
				fill="rgba(255,255,255,0.3)"
			/>
			<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
		</g>
	</svg>
</div> -->

{% endblock %}
